/*** container ***/
	#container {

	}

	/* heading */
		#heading {

		}

	/* form */
		#new-room-form, #join-room-form {

		}

		#new-room-button {

		}

		#room-id-input {

		}

		#name-input {

		}

		#join-room-button {
			
		}

	/* about */
		#about {

		}

		#about-button {

		}

		#about-button:focus, #about-button:hover {

		}

		#about-overlay {

		}

/*** j-logo ***/
	#j-logo {
		position: absolute;
		top: 14px;
		right: 8px;
		background-color: transparent;
		background-image: url("https://jamesmayr.com/resources/j.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		filter: drop-shadow(0px 0px var(--shadow-size) var(--light-gray));
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0px 0px var(--shadow-size) var(--medium-gray));
	}
