/*** mobile ***/
	:root {
		--multiplier: 1;
	}
	
	@media screen and (max-width: 800px) {
		:root {
			--multiplier: 0.5;
		}
	}

/*** page ***/
	/* html */
		html {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		body {
			background-color: var(--medium-gray);
			position: absolute;
			margin: 0;
			padding: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			font-family: var(--font-0);
			font-size: 0;
		}

		body[grabbing=true] {
			cursor: grabbing;
		}

		body[grabbing=true] * {
			cursor: grabbing;
		}

/*** elements ***/
	/* headings & text */
		h1 {
			font-size: var(--large-font-size);
			font-family: var(--font-0);
			margin: var(--medium-gap-size) 0;
			user-select: none !important;
			-webkit-user-select: none !important;
			-moz-user-select: none !important;
			-ms-user-select: none !important;
			-o-user-select: none !important;
		}

		h2 {
			font-size: var(--medium-font-size);
			font-family: var(--font-0);
			margin: var(--small-gap-size) 0;
			text-transform: uppercase;
			user-select: none !important;
			-webkit-user-select: none !important;
			-moz-user-select: none !important;
			-ms-user-select: none !important;
			-o-user-select: none !important;
		}

		h3 {
			font-size: var(--small-font-size);
			font-family: var(--font-0);
			margin: var(--large-gap-size) 0 0 0;
			text-transform: uppercase;
			user-select: none !important;
			-webkit-user-select: none !important;
			-moz-user-select: none !important;
			-ms-user-select: none !important;
			-o-user-select: none !important;
		}

		h4 {
			user-select: none !important;
			-webkit-user-select: none !important;
			-moz-user-select: none !important;
			-ms-user-select: none !important;
			-o-user-select: none !important;
		}

		p {
			
		}

	/* form */
		.form-row {
			float: left;
			width: 100%;
			margin-bottom: var(--small-gap-size);
		}

	/* inputs */
		input {
			box-sizing: border-box;
			border: none;
			border-radius: var(--border-radius);
			background: var(--light-gray);
			font-size: var(--medium-font-size);
			color: var(--dark-gray);
			font-family: var(--font-0);
			outline: none;
			padding: var(--medium-gap-size);
			line-height: 1;
			height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
			vertical-align: top;
			min-width: calc((var(--medium-font-size) * 10 + 2 * var(--medium-gap-size)) * var(--multiplier));
		}

		input:focus {
			box-shadow: 0 0 var(--shadow-size) var(--medium-blue);
		}

		input[readonly], input[disabled], button[disabled], a[disabled], select[disabled] {
			filter: brightness(var(--hover-brightness));
			user-select: none !important;
			-webkit-user-select: none !important;
			-moz-user-select: none !important;
			-ms-user-select: none !important;
			-o-user-select: none !important;
			pointer-events: none !important;
		}

		input[type="checkbox"] {
			cursor: pointer;
			zoom: 2;
			margin: 0;
			min-width: auto;
			height: calc((var(--medium-font-size) + 2 * var(--medium-gap-size)) / 2);
		}

		input[type="checkbox"]:focus, input[type="checkbox"]:hover {
			box-shadow: none;
			filter: brightness(var(--hover-brightness));
		}

	/* button */
		button, .pseudo-button {
			box-sizing: border-box;
			border: none;
			border-radius: var(--border-radius);
			background: var(--dark-gray);
			font-size: var(--medium-font-size);
			height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
			width: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
			text-align: center;
			color: var(--light-gray);
			font-family: var(--font-0);
			outline: none;
			padding: var(--medium-gap-size);
			cursor: pointer;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 1.1;
			user-select: none !important;
			-webkit-user-select: none !important;
			-moz-user-select: none !important;
			-ms-user-select: none !important;
			-o-user-select: none !important;
			display: inline-block;
			vertical-align: bottom;
		}

		button:hover, button:focus, .pseudo-button:hover, .pseudo-button:focus {
			box-shadow: 0 0 var(--shadow-size) var(--medium-blue);
			filter: brightness(var(--hover-brightness));
		}

	/* select */
		select {
			border: none;
			border-radius: var(--border-radius);
			background: var(--light-gray);
			font-size: var(--medium-font-size);
			color: var(--dark-gray);
			font-family: var(--font-0);
			outline: none;
			padding: var(--medium-gap-size);
			height: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
			cursor: pointer;
			line-height: 1;
			vertical-align: top;
			text-transform: uppercase;
		}

		select:hover, select:focus {
			box-shadow: 0 0 var(--shadow-size) var(--medium-blue);
		}

	/* link */
		a, a:visited {
			font-family: var(--font-family);
			color: var(--light-blue);
			font-weight: bold;
			font-size: var(--medium-font-size);
			text-decoration: none;
			cursor: pointer;
			vertical-align: bottom;
		}

		a:hover, a:focus {
			color: var(--medium-blue);
			box-shadow: 0 0 var(--shadow-size) var(--medium-blue);
		}

	/* label */
		label {
			margin: 0 var(--medium-gap-size);
			width: auto;
			display: inline-block;
		}

		label span {
			box-sizing: border-box;
			text-transform: uppercase;
			font-size: var(--small-font-size);
			font-weight: bold;
			vertical-align: top;
			display: inline-block;
			height: var(--medium-font-size);
			line-height: 1.5;
			margin: calc(var(--medium-gap-size)) var(--small-gap-size);
			user-select: none !important;
			-webkit-user-select: none !important;
			-moz-user-select: none !important;
			-ms-user-select: none !important;
			-o-user-select: none !important;
			display: inline-block;
		}

	/* details */
		details summary::marker {
			display: none;
		}

		details summary {
			list-style-type: none;
		}

		details summary::-webkit-details-marker {
			display: none;
		}

	/* section */
		section {
			width: 100%;
			float: left;
			padding-bottom: var(--large-gap-size);
			border-bottom: var(--border-size) solid var(--medium-gray);
			margin-bottom: var(--large-gap-size);
		}

		section:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}

/*** error / toast ***/
	#toast {
		position: absolute;
		top: var(--large-gap-size);
		left: 50%;
		transform: translateX(-50%);
		width: auto;
		text-align: center;
		font-size: var(--medium-font-size);
		padding: var(--medium-gap-size);
		color: var(--light-gray);
		background-color: var(--dark-blue);
		border-radius: var(--border-radius);
		box-shadow: 0 0 var(--shadow-size) var(--light-gray);
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		z-index: 10000;
		overflow: hidden;
		transition: var(--transition-time);
	}

	/* colors */
		#toast[success=true] {
			background-color: var(--dark-green);
		}

		#toast[success=false] {
			background-color: var(--dark-red);
		}

/*** status ***/
	/* visibility */
		*[visibility=false] {
			pointer-events: none;
			opacity: 0 !important;
			font-size: 0px !important;
			margin: 0px !important;
			padding: 0px !important;
			border: 0px !important;
			height: 0px !important;
			width: 0px !important;
		}
		