/*** configuration ***/
	#configuration {
		width: auto;
	}

	/* button */
		#configuration-button {
			position: absolute;
			top: var(--medium-gap-size);
			left: var(--medium-gap-size);
			background: var(--dark-orange);
			width: calc(var(--large-gap-size) * 4 + 4 * var(--medium-gap-size));
			font-size: var(--medium-font-size);
		}

	/* overlay */
		#configuration-overlay {
			box-sizing: border-box;
			z-index: 1001;
			position: absolute;
			top: 0;
			left: 0;
			overflow-x: hidden;
			background: var(--light-gray);
			color: var(--dark-gray);
			font-family: var(--font-0);
			height: 100vh;
			width: 100vw;
			padding: var(--medium-gap-size);
			border: none;
			scroll-behavior: smooth;
		}

		body[darkness] #configuration-overlay {
			background: var(--dark-gray);
			color: var(--light-gray);
		}

		#configuration-close {
			background: var(--medium-blue);
			float: right;
			width: auto;
			margin-bottom: calc(-100%);
			z-index: 999;
		}

	/* overlay room */
		#configuration-room h2 {
			font-size: 0;
			width: calc(100% - (var(--medium-font-size) + 3 * var(--medium-gap-size)));
			margin-top: 0;
		}

		#configuration-room h2 span {
			font-size: var(--large-font-size);
			margin-right: var(--medium-gap-size);
		}

		#configuration-room-id {
			font-size: var(--large-font-size);
			font-weight: bold;
			pointer-events: all;
			user-select: all;
			-webkit-user-select: all;
			-moz-user-select: all;
			-ms-user-select: all;
			-o-user-select: all;
		}

		#configuration-room-leave {
			float: right;
			width: auto;
			background: var(--medium-red);
		}

	/* overlay status */
		#configuration-game-status-start {
			width: 100%;
			background: var(--medium-green);
		}

		#configuration-game-status-end {
			width: 100%;
			background: var(--medium-orange);
		}

		#configuration-game-status-start:disabled, #configuration-game-status-end:disabled {
			display: none;
		}

	/* overlay players */
		#configuration-players-invite-name, #configuration-players-invite-email {
			border-radius: var(--border-radius) 0 0 var(--border-radius);
		}

		#configuration-players-invite-link, #configuration-players-invite-mailto {
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
			width: auto;
			background: var(--medium-blue);
			color: var(--light-gray) !important;
		}

		#temp-text {
			position: fixed;
			opacity: 0;
			top: -100vh;
			left: -100vw;
		}

		#configuration-players-list {
			margin-bottom: var(--large-gap-size);
		}

		#configuration-players-list .form-row {
			margin-bottom: var(--small-gap-size);
		}

		.player-name {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.player-role {
			border-left: var(--border-size) solid var(--dark-gray);
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		.player-remove {
			margin: var(--small-gap-size) 0 var(--small-gap-size) var(--small-gap-size);
			padding: var(--small-gap-size);
			height: calc(var(--medium-font-size) + 2 * var(--small-gap-size));
			width: calc(var(--medium-font-size) + 2 * var(--small-gap-size));
			font-size: var(--small-font-size);
			background-color: var(--medium-red);
			line-height: 1.2;
		}

	/* overlay preview */
		@media screen and (min-width: 1001px) {
			#configuration-preview {
				position: fixed;
				bottom: calc(4 * var(--large-gap-size));
				right: calc(4 * var(--large-gap-size));
				background-color: var(--light-gray);
				box-shadow: 0 0 var(--shadow-size) var(--medium-gray);
				border-radius: var(--border-radius);
				height: calc(var(--cell-size) * var(--board-size-y) / 2);
				width: calc(var(--cell-size) * var(--board-size-x) / 2);
				padding: calc(3 * var(--large-gap-size));
				overflow: hidden;
				margin-bottom: 0;
				z-index: 1000;
			}

			body[darkness] #configuration-preview {
				background-color: var(--dark-gray);
			}

			#configuration-preview-board {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}

			#configuration-preview h2 {
				position: absolute;
				bottom: var(--medium-gap-size);
				left: 0;
				width: 100%;
				text-align: center;
			}
		}

		@media screen and (max-width: 1200px) {
			#configuration-preview {
				bottom: calc(2 * var(--large-gap-size));
				right: calc(2 * var(--large-gap-size));
			}
		}

		@media screen and (max-width: 1000px) {
			#configuration-preview-board {
				position: relative;
				margin: calc(2 * var(--large-gap-size)) auto;
			}
		}

		#configuration-preview-board {
			pointer-events: none;
			display: block;
			height: calc(var(--cell-size) * var(--board-size-y) / 2);
			width: calc(var(--cell-size) * var(--board-size-x) / 2);
			box-shadow: 0 0 0 var(--border-size) var(--medium-gray);
		}

		#configuration-preview-board .board-grid {
			height: 100%;
			width: 100%;
		}

		#configuration-preview-board .board-coordinates {
			width: 100%;
			height: 100%;
			transform: translateY(-100%);
		}

		#configuration-preview-board .board-grid-cell {
			float: left;
			box-sizing: border-box;
			height: calc(var(--cell-size) / 2);
			width: calc(var(--cell-size) / 2);
			box-shadow: 0 0 0 var(--border-size) var(--medium-gray);
		}

		#configuration-preview-board .board-coordinate {
			text-align: center;
			vertical-align: bottom;
			color: var(--medium-gray);
			font-family: var(--font-0);
			text-transform: uppercase;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

		#configuration-preview-board .board-coordinate-x {
			font-size: var(--medium-font-size);
			display: inline-block;
			height: var(--medium-font-size);
			width: calc(var(--cell-size) / 2);
			transform: translateY(calc(-1 * (var(--medium-font-size) + var(--small-gap-size))));
		}

		#configuration-preview-board .board-coordinate-y {
			font-size: var(--medium-font-size);
			display: block;
			width: var(--medium-font-size);
			height: calc(var(--cell-size) / 2);
			writing-mode: vertical-rl;
			text-orientation: upright;
			transform: translateY(calc(-1 * var(--medium-font-size))) translateX(calc(-1 * (var(--medium-font-size) + var(--small-gap-size))));
		}

		#configuration-preview-board .object {
			position: absolute;
			cursor: default;
			transform: translateX(-50%) translateY(-50%);
			opacity: var(--object-opacity);
			filter: drop-shadow(0 0 calc(var(--shadow-size) / 2) var(--medium-gray));
			pointer-events: none;
		}

	/* overlay game */
		#configuration-game-advanced {
			width: 100%;
			float: left;
			margin-top: calc(2 * var(--large-gap-size));
		}

		#configuration-game-advanced-toggle {
			width: 100%;
		}

		#configuration-game-advanced:not([open]) #configuration-game-advanced-toggle h2:before {
			content: "▶";
		}

		#configuration-game-advanced[open] #configuration-game-advanced-toggle h2:before {
			content: "▼";
		}

		#configuration-game-board-x, #configuration-game-board-y {
			margin-bottom: var(--small-gap-size);
		}

		#configuration-game-board-background {
			max-width: calc(100vw - 5 * var(--medium-gap-size));
		}

		#configuration-game-objects-count, #configuration-game-objects-unused {
			margin-bottom: var(--small-gap-size);
		}

		.configuration-game-objects-shape-sample {
			display: inline-block;
			background: var(--medium-gray);
			height: var(--medium-font-size);
			width: var(--medium-font-size);
			margin: var(--medium-gap-size);
		}

		.configuration-game-objects-color-sample {
			display: inline-block;
			box-shadow: 0 0 var(--shadow-size) var(--medium-gray);
			height: var(--medium-font-size);
			width: var(--medium-font-size);
			margin: var(--medium-gap-size);
			border-radius: 100%;
		}

	/* overlay back to top */
		#configuration-back-to-top {
			width: 100%;
			color: var(--medium-blue);
			font-family: var(--font-0);
			text-align: center;
		}

	/* mobile */
		@media screen and (max-width: 800px) {
			#configuration-button {
				width: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
			}

			#configuration-button span, #configuration-close span, #configuration-room-leave span {
				display: none;
			}

			#configuration-overlay {
				padding-bottom: calc(var(--large-gap-size) * 2);
			}

			#configuration-players-invite-email {
				margin-top: var(--small-gap-size);
			}

			#configuration-players-invite-name, #configuration-players-invite-email {
				width: 100%;
				border-radius: var(--border-radius) var(--border-radius) 0 0;
			}

			#configuration-players-invite-link, #configuration-players-invite-mailto {
				width: 100%;
				border-radius: 0 0 var(--border-radius) var(--border-radius);
			}

			.player-row span {
				display: none;
			}

			.player-name {
				width: 100%;
				border-radius: var(--border-radius) var(--border-radius) 0 0;
			}

			.player-role {
				width: 100%;
				border-radius: 0 0 var(--border-radius) var(--border-radius);
				border: 0;
			}

			#configuration-players-invite span {
				display: none;
			}

			#configuration-game-board-background ~ span {
				display: none;
			}
		}

/*** container ***/
	#container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: var(--light-gray);
		color: var(--dark-gray);
	}

	body[darkness] #container {
		background: var(--dark-gray);
		color: var(--light-gray);
	}

	/* timer */
		#timer {
			position: fixed;
			top: var(--medium-gap-size);
			right: var(--medium-gap-size);
			font-size: var(--large-font-size);
			font-family: var(--font-0);
			pointer-events: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			font-weight: bold;
			z-index: 999;
		}

	/* screens */
		#screens[count="0"]:before {
			content: "no boards";
			font-family: var(--font-0);
			color: var(--medium-gray);
			font-size: var(--large-font-size);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			pointer-events: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			font-weight: bold;
			text-transform: uppercase;
			font-weight: bold;
			text-align: center;
		}

		#screens[count="1"] {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		#screens:not([count="1"]) {
			position: absolute;
			top: calc(4 * var(--medium-gap-size) + var(--medium-font-size));
			left: 0;
			width: 100%;
			height: 100%;
		}

		/* actor / speaker */
			#screens[count="1"] .screen, .screen:first-child:last-child {
				position: absolute;
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
				overflow: hidden;
			}

			#screens[count="1"] .screen-name, .screen:first-child:last-child .screen-name {
				display: none;
			}

			#screens[count="1"] .screen-role, .screen:first-child:last-child .screen-role {
				display: none;
			}

			#screens[count="1"] .screen-connected, .screen:first-child:last-child .screen-connected {
				display: none;
			}

		/* spectator */
			#screens:not([count="1"]) .screen {
				position: relative;
				float: left;
				height: auto;
				text-align: center;
				width: calc(100vw / var(--screen-count));
				height: calc((100vh - (4 * var(--medium-gap-size) + var(--medium-font-size))) / var(--screen-count-y));
			}

			#screens:not([count="1"]) .screen-name {
				font-size: var(--small-font-size);
				font-family: var(--font-0);
				color: var(--medium-gray);
				height: var(--small-font-size);
				vertical-align: top;
				line-height: 1;
				display: inline-block;
				pointer-events: none;
				user-select: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				z-index: 998;
				margin-right: var(--small-gap-size);
			}

			#screens:not([count="1"]) .screen-name:after {
				content: " - ";
			}

			#screens:not([count="1"]) .screen-role {
				font-size: var(--small-font-size);
				font-family: var(--font-0);
				color: var(--medium-gray);
				height: var(--small-font-size);
				vertical-align: top;
				line-height: 1;
				display: inline-block;
				pointer-events: none;
				text-transform: uppercase;
				user-select: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				z-index: 998;
			}

			#screens:not([count="1"]) .screen-connected {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				display: none;
				zoom: 1;
			}

			#screens:not([count="1"]) .screen-connected:not(:checked) {
				display: block;
				height: 0;
				width: 0;
				border: 0;
				padding: 0;
				margin: 0;
				pointer-events: none;
				z-index: 999;
			}

			#screens:not([count="1"]) .screen-connected:not(:checked):before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				content: "disconnected";
				background-color: var(--dark-red);
				font-family: var(--font-family);
				font-size: var(--medium-font-size);
				padding: var(--medium-gap-size);
				border-radius: var(--border-radius);
				color: var(--light-gray);
				opacity: var(--disconnected-opacity);
			}

		/* board */
			#screens .board {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				height: calc(var(--cell-size) * var(--board-size-y) / var(--screen-count) * var(--multiplier));
				width: calc(var(--cell-size) * var(--board-size-x) / var(--screen-count) * var(--multiplier));
				box-shadow: 0 0 0 var(--border-size) var(--medium-gray);
				z-index: 999;
			}

			#screens[count="1"] .screen[player-role="actor"] .board {
				margin-left: calc((var(--large-gap-size) * 4 + 5 * var(--medium-gap-size)) / 2);
			}

			@media screen and (max-width: 800px) {
				#screens[count="1"] .screen[player-role="actor"] .board {
					margin-left: 0;
					margin-top: calc(-1 * (var(--large-gap-size) * 4 * var(--multiplier) + 6 * var(--medium-gap-size)) / 2 + (var(--medium-font-size) + 3 * var(--medium-gap-size)) / 2);
				}
			}

			#screens .board-grid, #screens .board-coordinates {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				height: calc(var(--cell-size) * var(--board-size-y) / var(--screen-count) * var(--multiplier));
				width: calc(var(--cell-size) * var(--board-size-x) / var(--screen-count) * var(--multiplier));
				pointer-events: none;
			}

			#screens .board-grid-cell {
				float: left;
				box-sizing: border-box;
				height: calc(var(--cell-size) / var(--screen-count) * var(--multiplier));
				width: calc(var(--cell-size) / var(--screen-count) * var(--multiplier));
				box-shadow: 0 0 0 var(--border-size) var(--medium-gray);
			}

			#screens .board-coordinate {
				text-align: center;
				vertical-align: bottom;
				color: var(--medium-gray);
				font-family: var(--font-0);
				text-transform: uppercase;
				user-select: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
			}

			#screens[count="1"] .screen .board-coordinate-x, .screen:first-child:last-child .board-coordinate-x {
				font-size: var(--medium-font-size);
				display: inline-block;
				height: var(--medium-font-size);
				width: calc(var(--cell-size) / var(--screen-count) * var(--multiplier));
				transform: translateY(calc(-1 * (var(--medium-font-size) + var(--small-gap-size))));
			}

			#screens[count="1"] .screen .board-coordinate-y, .screen:first-child:last-child .board-coordinate-y {
				font-size: var(--medium-font-size);
				display: block;
				width: var(--medium-font-size);
				height: calc(var(--cell-size) / var(--screen-count) * var(--multiplier));
				writing-mode: vertical-rl;
				text-orientation: upright;
				transform: translateY(calc(-1 * var(--medium-font-size))) translateX(calc(-1 * (var(--medium-font-size) + var(--small-gap-size))));
			}

			#screens:not([count="1"]) .screen .board-coordinate-x {
				font-size: var(--small-font-size);
				display: inline-block;
				height: var(--small-font-size);
				width: calc(var(--cell-size) / var(--screen-count) * var(--multiplier));
				transform: translateY(calc(-1 * (var(--small-font-size) + var(--small-gap-size))));
			}

			#screens:not([count="1"]) .screen .board-coordinate-y {
				font-size: var(--small-font-size);
				display: block;
				width: var(--small-font-size);
				height: calc(var(--cell-size) / var(--screen-count) * var(--multiplier));
				writing-mode: vertical-rl;
				text-orientation: upright;
				transform: translateY(calc(-1 * var(--small-font-size))) translateX(calc(-1 * (var(--small-font-size) + var(--small-gap-size))));
			}

			#screens .board .object {
				position: absolute;
				cursor: default;
				transform: translateX(-50%) translateY(-50%);
				opacity: var(--object-opacity);
				filter: drop-shadow(0 0 calc(var(--shadow-size) / 2) var(--medium-gray));
				pointer-events: none;
			}

			#screens .screen[player-role="actor"] .board .object-shape {
				cursor: grab;
			}

		/* drawer */
			#screens:not([count="1"]) .drawer, #screens .screen[player-role="speaker"] .drawer {
				display: none;
			}

			#screens[count="1"] .screen[player-role="actor"] .drawer {
				position: fixed;
				left: var(--medium-gap-size);
				top: calc(var(--medium-gap-size) + var(--medium-font-size) + 2 * var(--medium-gap-size) + var(--medium-gap-size));
				box-sizing: border-box;
				height: calc(100% - (var(--medium-gap-size) + var(--medium-font-size) + 2 * var(--medium-gap-size) + 2 * var(--medium-gap-size)));
				width: calc(var(--large-gap-size) * 4 * var(--multiplier) + 4 * var(--medium-gap-size));
				padding: var(--medium-gap-size);
				border-radius: var(--border-radius);
				overflow-x: hidden;
				overflow-y: scroll;
				display: flex;
				flex-direction: column;
				background-color: transparent;
				box-shadow: 0 0 var(--shadow-size) var(--medium-gray);
				z-index: 999;
				box-shadow: 0 0 0 var(--border-size) var(--medium-gray);
			}

			@media screen and (max-width: 800px) {
				#screens[count="1"] .screen[player-role="actor"] .drawer {
					top: calc(100% - (var(--large-gap-size) * 2 * var(--multiplier) + 5 * var(--medium-gap-size)));
					width: calc(100% - 2 * var(--medium-gap-size));
					height: calc(var(--large-gap-size) * 2 * var(--multiplier) + 4 * var(--medium-gap-size));
					flex-direction: row;
					overflow-x: scroll;
					overflow-y: hidden;
					padding: 0;
				}
			}

			#screens .drawer .object {
				float: left;
				cursor: default;
				flex-shrink: 0;
				height: calc(var(--large-gap-size) * 4 * var(--multiplier)) !important;
				width: calc(var(--large-gap-size) * 4 * var(--multiplier)) !important;
				margin: var(--medium-gap-size);
				filter: drop-shadow(0 0 calc(var(--shadow-size) / 2) var(--medium-gray));
				pointer-events: none;
			}

			#screens .screen[player-role="actor"] .drawer .object-shape {
				cursor: grab;
			}

		/* border & label */
			.object-shape {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				height: 100%;
				width: 100%;
				pointer-events: all;
			}

			.object-inner {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				height: 100%;
				width: 100%;
			}

			.object-label {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				font-family: var(--font-0);
				font-size: var(--medium-font-size);
				color: var(--light-gray);
				text-shadow: 0 0 var(--shadow-size) var(--dark-gray);
				text-transform: uppercase;
				text-align: center;
				user-select: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
			}

		/* grabbing */
			#screens .board .object[grabbing], #screens .drawer .object[grabbing] {
				z-index: 999 !important;
			}

			#screens .board .object[grabbing] .object-shape, #screens .drawer .object[grabbing] .object-shape {
				cursor: grabbing !important;
				filter: drop-shadow(0 0 var(--shadow-size) var(--medium-gray));
			}
