/*** configuration ***/
	#configuration {
		width: auto;
	}

	/* button */
		#configuration-button {
			position: absolute;
			top: var(--medium-gap-size);
			left: var(--medium-gap-size);
			background: var(--dark-orange);
		}

	/* overlay */
		#configuration-overlay {
			z-index: 1001;
			position: absolute;
			top: var(--medium-gap-size);
			left: var(--medium-gap-size);
			overflow-x: hidden;
			overflow-y: scroll;
			background: var(--dark-gray);
			color: var(--medium-gray);
			font-family: var(--font-0);
			height: calc(100vh - 4 * var(--medium-gap-size));
			width: calc(100vw - 4 * var(--medium-gap-size));
			padding: var(--medium-gap-size);
			border: none;
			border-radius: var(--border-radius);
			box-shadow: 0 0 var(--shadow-size) var(--medium-gray);
		}

		#configuration-close {
			background: var(--medium-gray);
			float: right;
			width: calc(var(--medium-font-size) + 2 * var(--medium-gap-size));
		}

		#configuration-room-leave {
			float: right;
			color: var(--dark-red);
			width: auto;
			background: var(--medium-red);
		}

		#configuration-players-list {
			margin-bottom: var(--large-gap-size);
		}

		.player-name {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.player-role {
			border-left: var(--border-size) solid var(--dark-gray);
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		#configuration-game-status-start {
			width: 100%;
			background: var(--medium-green);
		}

		#configuration-game-status-end {
			width: 100%;
			background: var(--medium-orange);
		}

/*** container ***/
	#container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	/* name */
		#room-name {
			position: fixed;
			top: var(--medium-gap-size);
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			margin: 0;
			pointer-events: none;
			width: 100%;
			color: var(--light-gray);
		}

	/* timer */
		#timer {
			position: fixed;
			top: var(--medium-gap-size);
			right: var(--medium-gap-size);
			font-size: var(--large-font-size);
			font-family: var(--font-0);
			color: var(--dark-gray);
			pointer-events: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			color: var(--light-gray);
			font-weight: bold;
		}

	/* screens */
		#screens {
			position: absolute;
			top: calc(4 * var(--medium-gap-size) + var(--medium-font-size));
			left: 0;
			width: 100%;
			height: 100%;
		}

		/* spectator */
			.screen {
				float: left;
				
			}

		/* actor / informer */
			.screen:first-child:last-child {
				position: absolute;
				top: 0;
				left: 0;
				width: 100vw;
				height: calc(100vh - (4 * var(--medium-gap-size) + var(--medium-font-size)));
				overflow: hidden;
			}

			.screen:first-child:last-child .screen-name {
				display: none;
			}

			.screen:first-child:last-child .screen-role {
				display: none;
			}

			.screen:first-child:last-child .screen-connected {
				display: none;
			}
